li {
  list-style-type: none;
  font-size: 14px !important;
}

ul {
  /* display: inline-block; */
  max-width: 300px;
  border: 3px lightcoral dashed;
  border-radius: 25%;
  padding: 0px !important;
  background-color: ;
}
div {
  /* display: inline-block; */
  margin: 10px;
  text-align: center;
}

.images {
  width: 100px !important;
  height: 100px !important;
  border-radius: 150px !important;
  margin-left: 0.9em;
}

.cards {
  max-width: 185px !important;
  padding: 1em;
  color: aqua;
  background-color: black !important;
}

.removeBtn {
  /* margin-top: 10px; */
  max-width: 17px;
  max-height: 20px;
  font-size: 12px;
  padding-left: 4px;
}

.cardHeader {
  font-size: 1.5em;
  color: aquamarine !important;
  font-weight: 600;
}
